<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChiookWeb-4250ee65-3e46-494f-baf2-915f6894dfab;AttachDbFilename=|DataDirectory|\aspnet-ChiookWeb-4250ee65-3e46-494f-baf2-915f6894dfab.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChiookDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Chiook; Integrated Security=true" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>
